<div class="container mt-5">
  <div id="<%= dom_id news %>" class="border p-4">
    <p class="mb-0">
      <strong>Título:</strong>
      <%= news.title %>
    </p>

    <p class="mb-0">
      <strong>Autor:</strong>
      <%= news.author %>
    </p>

    <p class="mb-0">
      <strong>Contenido:</strong>
      <%= news.content %>
    </p>

    <p class="mb-0">
      <strong>Fecha de publicación:</strong>
      <%= news.publication_date %>
    </p>
  </div>
</div>
