<p style="color: green"><%= notice %></p>
<%= render @news %>


<% if user_signed_in? %>
  <%= render 'comments/form', news: @news, comment: @comment %>
<% else %>
 <p>Debes <%= link_to "registrarte", new_user_registration_path %> o <%= link_to "iniciar sesión", new_user_session_path %> para comentar.</p>
<% end %>

<% @comments.each do |comment| %>
  <p>
    <strong>User:</strong>
    <% if comment.user.present? %>
      <%= comment.user.email %>
    <% else %>
      User not available
    <% end %>
  </p>
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
     <%= puts comment.content.inspect %>
  </p>
<% end %>



